# Google Sheets API Credentials (from Service Account JSON)
GOOGLE_SHEETS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEETS_CLIENT_EMAIL="medintt-dashboard@PROJECT.iam.gserviceaccount.com"
GOOGLE_SHEETS_PROJECT_ID="your-project-id"

# Sheet IDs (one per company)
NEXT_PUBLIC_SHEET_PIRE_RAYEN="1y0XZB6fkrdrt2bxkS6bmaxvRkiYCag-Ai3RFDPR_XBg"
NEXT_PUBLIC_SHEET_EL_FORTIN="1JrMKqxkltuM6hSxhu-DZgEXyfZaIMi2jR5ndKbgJ5kQ"
NEXT_PUBLIC_SHEET_MASA_ARGENTINA="15qSmA9eNVkg6ygCmbGsAwM9aH6_mfteYhMZJGxsF2kY"
NEXT_PUBLIC_SHEET_SANOVO_GREENPACK="1K1ECPny2D_as5BLiJgWsVXvW1H7jpd_iLC8hI1peNM4"
NEXT_PUBLIC_SHEET_COOPERATIVA_OBRERA="1qlITSFRD1HJTvQ8GvUcBrumIzKl0V0lSYWKH1incqTc"
NEXT_PUBLIC_SHEET_BRENT_ENERGIA="1AicyJGUEFmvJtZrbS-TmU74NhSQ2PT_mkajjAfBGFFE"
